.DS_Store

# dotnet core
18project/bin
18project/obj
project.lock.json
NuGetScratch/

api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# node
18project/clientapp/node_modules
npm-debug.log

# client-react
18project/clientapp/build

# ops
ops/hosts
ops/config.yml
ops/*.retry

# other
*.js.map

# IDE
.idea/
.vs/