.faqs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faqs-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}

.faqs_intro {
    max-width: 554px;
    margin-bottom: 41px;
}

.faqs-content h1 {
    font-size: 60px;
    letter-spacing: -3px;
    line-height: 3.5rem;
}

.faqs_image {
    flex: 1;
}

.faqs_questions-list {
    display: flex;
    flex-direction: column;
    max-width: 840px;
    width: 100%;
}